**/.git
**/.DS_Store
**/node_modules
*.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.vscode/
.mypy_cache/
.ipynb_checkpoints/
__pycache__/
outputs/
logs/
ipynbs/
outputs/
.venv/
venv_gpu/